.cadastro-form {
    border: 1px solid #E9E6E6;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    background-color: rgb(255 255 255 / 0.6);
    width: 20%;
    min-width: 280px;
    max-width: 400px;
    z-index: 998;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    margin-bottom: -7rem;
}

.cadastro-form .email,
.cadastro-form .password {
    width: 90%;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #E9E6E6;
    background: #fff;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;

}

.cadastro-form .email:focus,
.cadastro-form .password:focus {
    border-color: #004EFF;
}

.cadastro-form .label_nasc {
    font-size: 0.9rem;
    color: #555;
    align-self: flex-start;
    margin-bottom: -10px;
    margin-left: 10px;
}

.cadastro-form select {
    width: 90%;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #E9E6E6;
    background: #fff;
    box-sizing: border-box;
    font-size: 16px;
    color: #555;
    outline: none;
    transition: border 0.3s ease;

}

.cadastro-form select:focus {
    border-color: #004EFF;
}

.cadastro-form button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #004EFF;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;

}

.cadastro-form button:hover {
    background: #003ACC;
}

.cadastro-form .descr {
    font-size: 0.87rem;
    color: #555;
    text-align: center;

}

.cadastro-form .descr a {
    color: #004EFF;
    text-decoration: none;

}

.cadastro-form .descr a:hover {
    text-decoration: underline;

}

/* Responsivo para até 600px */
@media (max-width: 600px) {
    .logo,
    footer {
        display: none;
    }

    .cadastro-form {
        width: 80%;
        padding: 20px;
        margin-bottom: 0;
    }
}
